
.testimonial {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-top: 2cm;
    width: 90%;
  }
  
  .testimonial h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 0.6cm;
  }
  
  .testimonial-content {
   margin-left: 3.5cm;
    max-width: 85%;
    text-align: center;
  }
  
  .quote-icon {
    font-size: 40px;
    color: red;
  }
  
  .testimonial-text {
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
  }
  
  .testimonial-author {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-right: 1cm;
    margin-top: 1cm;
  }
  
  
  .dots {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    margin-left: 1.3cm;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }
  